// header
// ==========

.right { float: right; margin-left: 10px; }
.clearfix { @extend %clearfix; }
.container { @include container(em(1160)); }
body { background-color: #f7f8fa; }
.head {
  background-color: #fff;
  margin-bottom: $global-gutter;
  @include breakpoint('max' (map-get($bp, 'md') - 1)){
    text-align: center;
    margin-bottom: 20px;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @include breakpoint('min' map-get($bp, 'md')){
    border-bottom: 1px solid $border-color;
  }
  .branding {
    @include breakpoint('min' map-get($bp, 'md')){
      float: left;
    }
    > a {
      @extend %global-transition;
      display: block;
      padding: map-get($head-padding, sm) 0;
      @include breakpoint('min' 768) {
        padding: map-get($head-padding, lg) 0;
      }
    }
  }
  &-nav {
    color: $brand-color;
    @include breakpoint('max' (map-get($bp, 'md') - 1)){
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
    @include breakpoint('min' map-get($bp, 'md')){
      width: em(460);
      float: right;
      border-left: 1px solid $border-color;
      .head-mailbox & { width: em(494); }
    }
    .abc {
      &-home,
      &-user { @include visible(360); }
    } 
    a { color: $brand-color; }
    ul {
      display: table;
      width: 100%;
    }
    li {
      padding: map-get($head-padding, 'sm') (map-get($head-padding, 'sm') / 2);
      display: table-cell;
      vertical-align: middle;
      border-right: 1px solid $border-color;
      .user-panel { 
        margin-top: map-get($head-padding, 'sm'); 
        text-align: left;
        z-index: map-get($z-index, 'head-user-pannel');
      }
      @include breakpoint('max' (map-get($bp, 'md') - 1)){
        &:last-child { border-right-width: 0; }
      }
      @include breakpoint('min' map-get($bp, 'md')){
        height: em(47);
        padding: map-get($head-padding, 'lg');
        .user-panel { margin-top: 23px; right: -1px; }
      }
      span {
        display: inline-block;
        vertical-align: middle;
      }
      > .user-name { text-align: left; }
    }
  }
  .icons-circle { @extend %global-transition; }
  @include breakpoint('max' 440) {
    .icons-circle {
      width: map-get($icon-wrap-size, 'sm');
      height: map-get($icon-wrap-size, 'sm');
      &:before {
        line-height: map-get($icon-wrap-size, 'sm');
      }
    }
    .icons-md { font-size: map-get($icon-size, 'sm'); }
    .icons-rect {
      width: 20px;
      height: 20px;
      &:before {
        line-height: 20px;
      }
    }
  }
}
.dropdown { position: relative; }
.user-panel {
  position: absolute;
  right: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid $border-color;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px;
  #user-panel-checkbox:checked ~ & { display: block; }
  a {
    @extend %global-transition;
    display: block;
    padding: em(12) em(20);
    border-bottom: 1px solid $border-color;
    &:hover { background-color: $background-color; }
    &:last-of-type { border-bottom-width: 0; }
  }
}
.nav-title {
  @include type(15px 700 1.15 uppercase);
  @include breakpoint('max' 430){
    @include type(12px);
  }
  small { 
    @include type(0.73em weight-normal); 
    color: #777;
  }
}
.my-homepage > a > span,
.my-login > span {
  margin: 0 2px;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}