// navigation
// ============

.main-nav {
  margin-bottom: $global-gutter;
  color: #fff;
  background-color: $brand-color;
  border-top: 2px solid map-get($button, 'alert');
  [type="checkbox"] { display: none; }
  a, label {
    display: block;
    padding: 16px;
  }
  a { color: #fff; }
  label {
    font-size: 20px;
    text-align: center;
  }
  [class^="abc-"] { line-height: 20px; }
  li {
    @extend %global-transition;
    @include type(15px 600 1 uppercase);
    &.current,
    &:hover { background-color: map-get($button, 'alert'); }
  }
  @include breakpoint-ma((map-get($bp, 'md') - 1)) { margin-bottom: em(20); }
  @include breakpoint-mi(600) {
    label { display: none; }
    ul {
      display: table;
      width: 100%;
      text-align: center;
    }
    li {
      display: table-cell;
    }
  }
  @include breakpoint-ma(599) {
    .container { margin-left: 0; margin-right: 0; }
    ul { display: none; }
    @at-root {
      #main-nav-checkbox:checked ~ ul { display: block; }
    }
    li {
      border-top: 1px solid #374362;
    }
  }
}