// navigation
// ============

.main-nav {
  margin-bottom: $global-gutter;
  color: #fff;
  background-color: $brand-color;
  border-top: 2px solid map-get($button, 'danger');
  a, label {
    display: block;
    padding: 16px;
  }
  a { color: #fff; }
  label {
    font-size: 20px;
    text-align: center;
  }
  [class^="abc-"]:before { line-height: 20px; }
  li {
    @extend %global-transition;
    @include type(15px 600 1 uppercase);
    &.current,
    &:hover { background-color: map-get($button, 'danger'); }
  }
  @include breakpoint-ma((map-get($bp, 'md') - 1)) { margin-bottom: em(20); }
  @include breakpoint-mi(600) {
    label { display: none; }
    ul {
      display: table;
      width: 100%;
      text-align: center;
    }
    li {
      display: table-cell;
    }
  }
  @include breakpoint-ma(599) {
    .container { padding-left: 0; padding-right: 0; }
    ul { display: none; }
    @at-root {
      #main-nav-checkbox:checked ~ ul { display: block; }
    }
    li {
      border-top: 1px solid #374362;
    }
  }
}

.sub-nav {
  margin-bottom: em(20);
  background-color: $background-color;
  border-radius: $panel-radius;
  a {
    display: block;
    color: $minor;
    padding: map-get($panel-padding, 'head');
  }
  li {
    @extend %global-transition;
    @include type(14px 700 uppercase);
    border: 1px solid $border-color;
    border-top-width: 0;
    &:last-child {
      border-bottom-left-radius: $panel-radius;
      border-bottom-right-radius: $panel-radius;
    }
    &:hover, &.current {
      a { color: contrast($brand-color); }
      background-color: $brand-color;
      border-color: $brand-color;
    }
  }
  &__menu {
    display: block;
    padding: em(10, 20) em(20, 20);
    border: 1px solid $border-color;
    border-radius: $panel-radius;
    background-color: #fff;
    #sub-nav-checkbox:checked ~ & {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    [class^='abc-'] {
      font-size: 20px;
      &:before { line-height: 20px; }
    }
  }
}