.ad-bg:after, .ad-combined:after, .clearfix:after, .container:after, .view-term form:after {
  clear: both;
  content: "";
  display: table;
}

.alert-success:hover, .alert-info:hover, .alert-warning:hover, .alert-danger:hover, .button:hover, .button-normal:hover, .button-secondary:hover, .button-success:hover, .button-alert:hover, .pagination a:hover, .view-term .select-wrap:hover {
  text-decoration: none;
}

.alert-success, .alert-info, .alert-warning, .alert-danger, .button, .button-normal, .button-secondary, .button-success, .button-alert, .pagination a, .view-term .select-wrap, .icons-rect, .icons [class^='abc-'], .container, .head .branding > a, .head .icons-circle, .user-panel a, .main-nav li, .sub-nav li, .banner-content h2, .banner-content h3 {
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.alert-success, .alert-info, .alert-warning, .alert-danger, .button, .button-normal, .button-secondary, .button-success, .button-alert, .pagination a, .view-term .select-wrap {
  display: inline-block;
  box-sizing: border-box;
}

[autoheight-carousel] {
  -webkit-transition: height 0.3s ease 0s;
  transition: height 0.3s ease 0s;
}

[autoheight-gallery] {
  -webkit-transition: padding-bottom 0.3s ease 0s;
  transition: padding-bottom 0.3s ease 0s;
}

.enable-js,
.browsehappy {
  background: #e3e3e3;
  color: #000;
  font-size: 14px;
  margin-bottom: .2em;
  padding: 0.5em;
  text-align: center;
  line-height: 1.3;
}
.enable-js a,
.browsehappy a {
  font-weight: bold;
}

.ad-bg:after, .ad-combined:after, .clearfix:after, .container:after, .view-term form:after {
  clear: both;
  content: "";
  display: table;
}

.alert-success, .alert-info, .alert-warning, .alert-danger, .button, .button-normal, .button-secondary, .button-success, .button-alert, .pagination a, .view-term .select-wrap, .icons-rect, .icons [class^='abc-'], .container, .head .branding > a, .head .icons-circle, .user-panel a, .main-nav li, .sub-nav li, .banner-content h2, .banner-content h3 {
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.icons-circle, .icons-fill {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  font-family: "Open Sans", Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

img.full {
  width: 100%;
  display: block;
}

@media \0screen {
  img, svg {
    width: auto;
  }
}
[class^="icon-"]::before,
[class*=" icon-"]::before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: none;
}

button, input, select {
  line-height: normal !important;
}

button:focus, input:focus, select:focus, textarea:focus {
  outline: 0;
}

label {
  cursor: pointer;
}

figure, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

dl, ul, ol {
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

.hidden {
  display: none;
}

.top {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.ad {
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.ad250, .ad300, .ad320, .ad400, .ad468, .ad728, .ad970 {
  margin-left: auto;
  margin-right: auto;
}
.ad250 {
  width: 250px;
}
.ad300 {
  width: 300px;
}
.ad320 {
  width: 320px;
}
.ad400 {
  width: 400px;
}
.ad468 {
  width: 468px;
}
.ad728 {
  width: 728px;
}
.ad970 {
  width: 970px;
}
.ad-bg {
  padding-top: 1px;
  background-color: #eee;
}
.ad-group {
  text-align: center;
}
.ad-group > * {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}
.adtop {
  margin-bottom: 0;
}
.ad-combined {
  background-color: #f2f2f2;
  margin-bottom: 1.25em;
}

.heading1 {
  font-size: 47px;
  font-size: 2.9375rem;
  line-height: 0.2;
  font-weight: 600;
}

.heading3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading4 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading1, .heading2, .heading3, .heading4, .heading5, .heading6 {
  color: #2c3754;
}
.heading1 .small, .heading2 .small, .heading3 .small, .heading4 .small, .heading5 .small, .heading6 .small {
  font-weight: 300;
}

.p, p {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.33;
}

p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}

.minor {
  color: #636363;
}

.icons-circle {
  width: 36px;
  height: 36px;
  border: 2px solid  #e3e5e8;
}
.icons-circle:before {
  line-height: 36px;
}
.icons-rect {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #f7f8fa;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  cursor: pointer;
}
.icons-rect:hover {
  border-color: #eaedf2;
  background-color: #eaedf2;
}
.icons-fill {
  width: 26px;
  height: 26px;
  color: #fff;
  background-color: #2c3754;
}
.icons-fill:before {
  line-height: 26px;
}
.icons-sm {
  font-size: 16px;
}
.icons-md {
  font-size: 22px;
}
.icons-lg {
  font-size: 30px;
}

[class^='abc-caret-'] {
  font-size: 12px;
}

.panel {
  position: relative;
}
.panel-head, .panel-foot {
  padding: 0.9375em 1.25em;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.panel-head {
  border-bottom: 2px solid #2c3754;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-table .panel-head {
  border-bottom: 1px solid #e4e4e4;
}
.panel-head > h3,
.panel-head > span,
.panel-head > a {
  vertical-align: middle;
}
.panel-head h3 {
  display: inline-block;
}
.panel-foot {
  border-top-width: 0;
}
.panel-pure {
  margin-bottom: 3.45%;
  padding: 0.9375em 1.25em;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.panel-body {
  border: 1px solid #e4e4e4;
  border-top-width: 0;
  background-color: #f2f2f2;
}
.panel-body li {
  padding: 0.9375em 1.25em;
  border-bottom: 1px solid #e4e4e4;
}
.panel-body li:last-child {
  border-bottom-width: 0;
}
.panel-body .wider li {
  padding-top: 1.875em;
  padding-bottom: 1.875em;
}
.panel-body .heading4 {
  margin-bottom: 1.0714285714em;
}
.panel-body .heading4 [class^='abc-'] {
  margin-right: 0.5em;
}
.panel-body table .heading4 {
  margin-bottom: 0;
  color: #2c3754;
}
.panel .inner {
  padding: 1.5625em 1.25em;
}
.panel-bottom {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.panel .cell {
  display: table-cell;
  vertical-align: middle;
  padding-right: 0.5em;
}
.panel .cell-group {
  display: table;
  width: 100%;
}
.panel .cell:last-child {
  padding-right: 0;
}
.panel .cell.right {
  text-align: right;
}
.panel p {
  color: #636363;
}
.panel .floated {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.icons {
  margin-bottom: 0.9375em;
}
@media (min-width: 40em) {
  .icons {
    float: right;
  }
}
.icons .button, .icons span {
  vertical-align: middle;
}
.icons [class^='abc-'] {
  padding: 6px 10px;
  background-color: #d8d8d8;
  border-radius: 3px;
  cursor: pointer;
}
.icons [class^='abc-']:hover {
  background-color: #bfbfbf;
}

.file-name a {
  font-size: 13px;
  color: #2382ef;
}
.file-name a:hover {
  text-decoration: underline;
}

.alert-success, .alert-info, .alert-warning, .alert-danger {
  border-radius: 0.22em;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 1em 1.3em;
  display: block;
  margin-bottom: 3.45%;
  color: #636363;
  border-style: solid;
  border-width: 1px;
}

.alert-success {
  border-color: #3A945B;
  background-color: #49b872;
}
.alert-info {
  border-color: #2270C1;
  background-color: #3a89dc;
}
.alert-warning {
  border-color: #DE770F;
  background-color: #f1902f;
}
.alert-danger {
  border-color: #edc0c0;
  background-color: #f8e8e8;
}

.button {
  border-radius: 0.22em;
  padding: 0.75em 1.1em;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  border-width: 0;
  cursor: pointer;
}
.button-normal {
  background-color: #3b3e43;
  color: #fff;
}
.button-normal:hover {
  background-color: #53575e;
  color: #fff;
}
.button-secondary {
  background-color: #2c3754;
  color: #fff;
}
.button-secondary:hover {
  background-color: #3e4d75;
  color: #fff;
}
.button-success {
  background-color: #9bbd48;
  color: #000;
  color: #fff;
}
.button-success:hover {
  background-color: #7e9a38;
  color: #fff;
}
.button-alert {
  background-color: #c04545;
  color: #fff;
}
.button-alert:hover {
  background-color: #9d3535;
  color: #fff;
}
.button-line {
  font-weight: normal;
  color: #fff;
  text-transform: none;
  background-color: transparent;
  border: 1px solid  #fff;
  border-radius: 0;
}
.button-search {
  font-weight: normal;
  text-transform: none;
  padding-right: 40px;
  background: #f2f2f2 url("../img/icon-search.png") right 50% no-repeat;
  border: 1px solid #e4e4e4;
  cursor: default;
}
.button-group .button {
  margin-bottom: -1px;
}
.button-group .button:last-child {
  margin-bottom: 0;
}

input.button,
button.button {
  line-height: 1 !important;
}

table {
  width: 100%;
}

thead > tr {
  border-bottom: 2px solid #2c3754;
}

th, td {
  padding: 0.9375em 1.25em;
  text-align: left;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #e4e4e4;
}
th:last-of-type, td:last-of-type {
  border-right-width: 0;
}

tr:last-of-type td {
  border-bottom-width: 0;
}

th {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #2c3754;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: #f6f6f6;
}
@media (max-width: 40em) {
  .table-responsive, .table-responsive thead, .table-responsive tbody, .table-responsive th, .table-responsive td, .table-responsive tr {
    display: block;
  }
  .table-responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive tr:last-of-type td {
    border-bottom-width: 1px;
  }
  .table-responsive tr:last-of-type td:last-of-type {
    border-bottom-width: 0;
  }
  .table-responsive td {
    position: relative;
    padding-left: 55%;
    border-right-width: 0;
  }
  .table-responsive td:before {
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0.9375em 1.25em;
    width: 50%;
    height: 100%;
    padding-right: 10px;
    color: #2c3754;
    border-right: 1px solid #e4e4e4;
    box-sizing: border-box;
  }
  .table-student td:nth-of-type(1):before {
    content: "First Name";
  }
  .table-student td:nth-of-type(2):before {
    content: "Last Name";
  }
  .table-student td:nth-of-type(3):before {
    content: "Student Id";
  }
  .table-student td:nth-of-type(4):before {
    content: "";
  }
  .table-thread td:nth-of-type(1):before {
    content: "Thread / thread Starter";
  }
  .table-thread td:nth-of-type(2):before {
    content: "latest post";
  }
  .table-thread td:nth-of-type(3):before {
    content: "replies";
  }
  .table-thread td:nth-of-type(4):before {
    content: "views";
  }
}

.pagination a {
  border-radius: 0.22em;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0.25em 0.6em;
  background-color: #fff;
  color: #000;
  display: inline-block;
  margin-bottom: .3em;
  line-height: 1;
  border: 1px solid #e4e4e4;
  color: #636363;
}
.pagination a:hover {
  background-color: #e6e6e6;
  color: #000;
}
.pagination a:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.pagination a.current {
  color: #fff;
  background-color: #c04545;
  border-color: #c04545;
}

.container {
  max-width: 72.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.45%;
  padding-right: 3.45%;
}
@media (min-width: 72.5em) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

body {
  background-color: #f7f8fa;
}

.head {
  background-color: #fff;
  margin-bottom: 3.45%;
}
@media (max-width: 47.9375em) {
  .head {
    text-align: center;
    margin-bottom: 20px;
  }
  .head .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 48em) {
  .head {
    border-bottom: 1px solid #e4e4e4;
  }
}
@media (min-width: 48em) {
  .head .branding {
    float: left;
  }
}
.head .branding > a {
  display: block;
  padding: 0.875em 0;
}
@media (min-width: 48em) {
  .head .branding > a {
    padding: 1.25em 0;
  }
}
.head-nav {
  color: #2c3754;
}
@media (max-width: 47.9375em) {
  .head-nav {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
  }
}
@media (min-width: 48em) {
  .head-nav {
    width: 28.75em;
    float: right;
    border-left: 1px solid #e4e4e4;
  }
}
@media (max-width: 21.8125em) {
  .head-nav .abc-home, .head-nav .abc-user {
    display: none;
  }
}
.head-nav a {
  color: #2c3754;
}
.head-nav ul {
  display: table;
  width: 100%;
}
.head-nav li {
  padding: 0.875em 0.4375em;
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #e4e4e4;
}
.head-nav li .user-panel {
  margin-top: 0.875em;
  text-align: left;
  z-index: 100;
}
@media (max-width: 47.9375em) {
  .head-nav li:last-child {
    border-right-width: 0;
  }
}
@media (min-width: 48em) {
  .head-nav li {
    height: 2.9375em;
    padding: 1.25em;
  }
  .head-nav li .user-panel {
    margin-top: 23px;
    right: -1px;
  }
}
.head-nav li span {
  display: inline-block;
  vertical-align: middle;
}
.head-nav li > .user-name {
  text-align: left;
}
@media (max-width: 26.875em) {
  .head .icons-circle {
    width: 26px;
    height: 26px;
  }
  .head .icons-circle:before {
    line-height: 26px;
  }
  .head .icons-md {
    font-size: 16px;
  }
  .head .icons-rect {
    width: 20px;
    height: 20px;
  }
  .head .icons-rect:before {
    line-height: 20px;
  }
}

.dropdown {
  position: relative;
}

.user-panel {
  position: absolute;
  right: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px;
}
#user-panel-checkbox:checked ~ .user-panel {
  display: block;
}
.user-panel a {
  display: block;
  padding: 0.75em 1.25em;
  border-bottom: 1px solid #e4e4e4;
}
.user-panel a:hover {
  background-color: #f2f2f2;
}
.user-panel a:last-of-type {
  border-bottom-width: 0;
}

.nav-title {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 26.875em) {
  .nav-title {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
.nav-title small {
  font-size: 0.73em;
  font-weight: normal;
  color: #777;
}

.my-homepage > a > span,
.my-login > span {
  margin: 0 2px;
}

.foot {
  margin-top: 1.25em;
  border-top: 1px solid #e4e4e4;
  background-color: #fff;
}
@media (max-width: 66.8125em) {
  .foot .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 64em) {
  .foot {
    margin-top: 2.5em;
  }
}
.foot-nav {
  font-size: 15px;
  font-style: normal;
  border-bottom: 1px solid #e4e4e4;
}
@media (min-width: 66.875em) {
  .foot-nav {
    float: left;
    border-bottom-width: 0;
  }
}
.foot-nav ul {
  letter-spacing: -0.34em;
}
@media (min-width: 55.625em) and (max-width: 66.8125em) {
  .foot-nav ul {
    text-align: center;
  }
}
.foot-nav li {
  letter-spacing: 0;
  margin: 1.25em 3.45%;
}
@media (min-width: 55.625em) {
  .foot-nav li {
    display: inline-block;
    margin: 0;
    padding: 1.25em 1.875em;
    border-right: 1px solid #e4e4e4;
  }
  .foot-nav li:last-child {
    border-right-width: 0;
  }
}
@media (min-width: 66.875em) {
  .foot-nav li {
    float: left;
    display: block;
  }
  .foot-nav li:first-child {
    padding-left: 0;
  }
  .foot-nav li:last-child {
    padding-right: 0;
  }
}
.foot-nav li > span {
  display: inline-block;
  vertical-align: middle;
}
.foot-nav [class^='abc-'] {
  margin-right: 0.3em;
}
.foot .powered {
  font-size: 15px;
  text-align: center;
  padding: 1.25em 0;
}
@media (min-width: 66.875em) {
  .foot .powered {
    float: right;
    line-height: 40px;
  }
}
.foot .powered a {
  text-transform: uppercase;
}

.main-nav {
  margin-bottom: 3.45%;
  color: #fff;
  background-color: #2c3754;
  border-top: 2px solid #c04545;
}
.main-nav a, .main-nav label {
  display: block;
  padding: 16px;
}
.main-nav a {
  color: #fff;
}
.main-nav label {
  font-size: 20px;
  text-align: center;
}
.main-nav [class^="abc-"]:before {
  line-height: 20px;
}
.main-nav li {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}
.main-nav li.current, .main-nav li:hover {
  background-color: #c04545;
}
@media (max-width: 47.9375em) {
  .main-nav {
    margin-bottom: 1.25em;
  }
}
@media (min-width: 37.5em) {
  .main-nav label {
    display: none;
  }
  .main-nav ul {
    display: table;
    width: 100%;
    text-align: center;
  }
  .main-nav li {
    display: table-cell;
  }
}
@media (max-width: 37.4375em) {
  .main-nav .container {
    padding-left: 0;
    padding-right: 0;
  }
  .main-nav ul {
    display: none;
  }
  #main-nav-checkbox:checked ~ ul {
    display: block;
  }
  .main-nav li {
    border-top: 1px solid #374362;
  }
}

.sub-nav {
  margin-bottom: 1.25em;
  background-color: #f2f2f2;
  border-radius: 3px;
}
.sub-nav a {
  display: block;
  color: #636363;
  padding: 0.9375em 1.25em;
}
.sub-nav li {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #e4e4e4;
  border-top-width: 0;
}
.sub-nav li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.sub-nav li:hover, .sub-nav li.current {
  background-color: #2c3754;
  border-color: #2c3754;
}
.sub-nav li:hover a, .sub-nav li.current a {
  color: #fff;
}
.sub-nav__menu {
  display: block;
  padding: 0.5em 1em;
  border-bottom: 1px solid #e4e4e4;
  background-color: #fff;
}
.sub-nav__menu [class^='abc-'] {
  font-size: 20px;
}
.sub-nav__menu [class^='abc-']:before {
  line-height: 20px;
}

.banner {
  position: relative;
  margin-bottom: 3.45%;
}
@media (max-width: 47.9375em) {
  .banner {
    margin-bottom: 1.25em;
  }
}
.banner-content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  color: #fff;
}
.no-flexbox .banner-content {
  text-align: center;
}
.no-flexbox .banner-content:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -.25em;
}
.no-flexbox .banner-content > .inner {
  display: inline-block;
  vertical-align: middle;
}
.banner-content h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
}
.banner-content h3 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 400;
}
@media (min-width: 30em) {
  .banner-content h2 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
  }
  .banner-content h3 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 400;
  }
}
@media (min-width: 41.875em) {
  .banner-content h2 {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 600;
  }
  .banner-content h3 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 400;
  }
}
@media (min-width: 56.25em) {
  .banner-content h2 {
    font-size: 47px;
    font-size: 2.9375rem;
    line-height: 1.2;
    font-weight: 600;
  }
  .banner-content h3 {
    font-size: 21px;
    font-size: 1.3125rem;
    line-height: 1.2;
    font-weight: 400;
  }
}

@media (min-width: 62.5em) {
  .home-main {
    float: left;
    width: 58.62%;
    margin-right: 3.45%;
  }
  .home-aside {
    float: left;
    width: 37.93%;
  }
}

.view-term form {
  margin-top: 0.5em;
}
.view-term .select-wrap {
  border-radius: 0.22em;
  background-color: #f2f2f2;
  color: #000;
  position: relative;
  display: inline-block;
  padding: 0.4em 0.6em;
  width: calc(100% - 87px);
  border: 1px solid #e4e4e4;
  overflow: hidden;
  font-size: 14px;
  box-sizing: border-box;
}
.view-term .select-wrap [class^='abc-'] {
  display: inline-block;
  position: absolute;
  right: 6px;
  top: 7px;
  color: #636363;
}
.no-csscalc .view-term .select-wrap {
  width: 66%;
}
.view-term select {
  border-width: 0;
  background-color: #f2f2f2;
  width: 120%;
}
.view-term input {
  float: right;
}
.no-csscalc .view-term input {
  width: 33%;
}

.with-main-nav .head {
  margin-bottom: 0;
  border-bottom-width: 0;
}

.search-students > .heading4, .search-students input {
  vertical-align: middle;
}
.search-students .heading4 {
  display: inline-block;
  margin-right: .6em;
}

@media (min-width: 55em) {
  .search-students {
    float: left;
  }

  .actions {
    float: right;
  }

  .database .panel-foot [data-aside] {
    float: right;
  }
}
@media (max-width: 54.9375em) {
  .search-students {
    margin-bottom: 0.9375em;
  }
  .search-students .heading4 {
    display: block;
    margin-bottom: 5px;
  }
  .search-students [type="search"] {
    width: calc(100% - 60px - 59px);
  }
  .search-students [type="submit"] {
    float: right;
  }

  .database .panel-foot [data-aside] {
    margin-bottom: 1.4285714286em;
  }
}
@media (max-width: 25em) {
  .actions .button {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  .actions .button:first-of-type {
    margin-bottom: 0.7142857143em;
  }
}
@media (min-width: 62.5em) {
  .nav-left .sub-nav {
    float: left;
    width: 21.378%;
    margin-right: 3.45%;
  }
  .nav-left .sub-nav li:first-child {
    border-top-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .nav-left .sub-nav .current {
    position: relative;
  }
  .nav-left .sub-nav .current:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -6px;
    top: 50%;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent transparent #2c3754;
  }
  .nav-left .main {
    float: left;
    width: 75.172%;
  }
  .nav-left .sub-nav__menu {
    display: none;
  }
}
@media (max-width: 62.4375em) {
  .nav-left .sub-nav ul {
    display: none;
  }
  #sub-nav-checkbox:checked ~ ul {
    display: block;
  }
}

.circle-number {
  counter-reset: circle-number;
}
.circle-number li {
  margin: 1.3333333333em 0;
}
.circle-number li:before {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  counter-increment: circle-number;
  content: counter(circle-number);
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 0.8333333333em;
  line-height: 32px;
  text-align: center;
  border: 2px solid #2c3754;
  border-radius: 50%;
  vertical-align: middle;
}

.action-line {
  margin-bottom: 0.3125em;
}
.action-line .button {
  margin-bottom: 5px;
}
.action-line .current {
  background-color: #c04545;
}

.center-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.no-flexbox .center-box {
  text-align: center;
}
.no-flexbox .center-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -.25em;
}
.no-flexbox .center-box > .inner {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.login .content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: #0e0e10 url("../img/login-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.login .foot {
  position: absolute;
  width: 100%;
  margin-top: 0;
  top: 100%;
  z-index: 100;
}
.login .inner {
  text-align: center;
}
.login .branding {
  padding-bottom: 6px;
  overflow: visible;
}
.login-form {
  width: 15.1875em;
  padding: 2.875em;
  text-align: left;
  background-color: #14151b;
  background-color: rgba(20, 21, 27, 0.8);
}
.login-form input {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.login-form [type="submit"] {
  margin-top: 1.2142857143em;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=main.css.map */
