@media (max-width: 40em) {
  .table-responsive.table, .table-responsive.table thead, .table-responsive.table tbody, .table-responsive.table th, .table-responsive.table td, .table-responsive.table tr {
    display: block;
  }
  .table-responsive.table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive.table tr:last-of-type td {
    border-bottom-width: 1px;
  }
  .table-responsive.table tr:last-of-type td:last-of-type {
    border-bottom-width: 0;
  }
  .table-responsive.table td {
    position: relative;
    padding-left: 55%;
    border-right-width: 0;
  }
  .table-responsive.table td:before {
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0.9375em 1.25em;
    width: 50%;
    height: 100%;
    padding-right: 10px;
    color: #2c3754;
    border-right: 1px solid #e4e4e4;
    box-sizing: border-box;
  }
  .table-student td:nth-of-type(1):before {
    content: "First Name";
  }
  .table-student td:nth-of-type(2):before {
    content: "Last Name";
  }
  .table-student td:nth-of-type(3):before {
    content: "Student Id";
  }
  .table-student td:nth-of-type(4):before {
    content: "";
  }
  .table-thread td:nth-of-type(1):before {
    content: "Thread / thread Starter";
  }
  .table-thread td:nth-of-type(2):before {
    content: "latest post";
  }
  .table-thread td:nth-of-type(3):before {
    content: "replies";
  }
  .table-thread td:nth-of-type(4):before {
    content: "views";
  }
  .table-class-files td:nth-of-type(1):before {
    content: "File Name";
  }
  .table-class-files td:nth-of-type(2):before {
    content: "File Extension";
  }
  .table-class-files td:nth-of-type(3):before {
    content: "Uploaded By";
  }
  .table-class-files td:nth-of-type(4):before {
    content: "";
  }
  .table-submission-uploads td:nth-of-type(1):before {
    content: "Uploaded By";
  }
  .table-submission-uploads td:nth-of-type(2):before {
    content: "File Name";
  }
  .table-submission-uploads td:nth-of-type(3):before {
    content: "Date / Time";
  }
  .table-discussion td:nth-of-type(1):before {
    content: "Topics";
  }
  .table-discussion td:nth-of-type(2):before {
    content: "Threads";
  }
  .table-discussion td:nth-of-type(3):before {
    content: "Posts";
  }
  .table-quiz-grades td:nth-of-type(1):before {
    content: "Name";
  }
  .table-quiz-grades td:nth-of-type(2):before {
    content: "Score";
  }
  .table-quiz-grades td:nth-of-type(3):before {
    content: "Response";
  }
  .table-quiz-grades td:nth-of-type(4):before {
    content: "Submit Time";
  }
  .table-quiz-grades td:nth-of-type(5):before {
    content: "Grade";
  }
  .table-quiz-grades td:nth-of-type(6):before {
    content: "";
  }
  .table-student-list td:nth-of-type(1):before {
    content: "Student Name";
  }
  .table-student-list td:nth-of-type(2):before {
    content: "E-mail";
  }
  .table-student-list td:nth-of-type(3):before {
    content: "Phone Number";
  }
  .table-grade td:nth-of-type(1):before {
    content: "Items";
  }
  .table-grade td:nth-of-type(2):before {
    content: "Grades";
  }
  .table-grade td:nth-of-type(3):before {
    content: "";
  }
  .table-courses-registration td:nth-of-type(1):before {
    content: "Course Title";
  }
  .table-courses-registration td:nth-of-type(2):before {
    content: "Instructor";
  }
  .table-courses-registration td:nth-of-type(3):before {
    content: "Program / Major";
  }
  .table-courses-registration td:nth-of-type(4):before {
    content: "Term";
  }
  .table-courses-registration td:nth-of-type(5):before {
    content: "Request Registration";
  }
}
