@charset "UTF-8";

// responsive table
// =================

// vendors
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss"; 
@import "../../bower_components/rocket/src/scss/_rocket.scss";

// helpers
@import "helpers/variables";
@import "helpers/placeholders";


.table {
  // Force table to not be like tables anymore
  @include breakpoint('max' 640)  {
    &-responsive {
      &, thead, tbody, th, td, tr {
        display: block; 
      }
      // Hide table headers (but not display: none;, for accessibility)
      thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr:last-of-type td { 
        border-bottom-width: 1px; 
        &:last-of-type { border-bottom-width: 0; }
      }
      // Behave  like a "row"
      td { 
        position: relative;
        padding-left: 55%; 
        border-right-width: 0;
        // Now like a table header
        &:before { 
          @include type(15px 600 uppercase); 
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          padding: map-get($panel-padding, 'head');
          width: 50%; 
          height: 100%;
          padding-right: 10px; 
          color: $brand-color;
          // white-space: nowrap;
          border-right: 1px solid $border-color;
          box-sizing: border-box;
        }
      }
    }
    // Label the data
    &-student {
      td:nth-of-type(1):before { content: "First Name"; }
      td:nth-of-type(2):before { content: "Last Name"; }
      td:nth-of-type(3):before { content: "Student Id"; }
      td:nth-of-type(4):before { content: ""; }
    }
    &-thread {
      td:nth-of-type(1):before { content: "Thread / thread Starter"; }
      td:nth-of-type(2):before { content: "latest post"; }
      td:nth-of-type(3):before { content: "replies"; }
      td:nth-of-type(4):before { content: "views"; }
    }
    &-class-files {
      td:nth-of-type(1):before { content: "File Name"; }
      td:nth-of-type(2):before { content: "File Extension"; }
      td:nth-of-type(3):before { content: "Uploaded By"; }
      td:nth-of-type(4):before { content: ""; }
    }
    &-submission-uploads {
      td:nth-of-type(1):before { content: "Uploaded By"; }
      td:nth-of-type(2):before { content: "File Name"; }
      td:nth-of-type(3):before { content: "Date / Time"; }
    }
    &-discussion {
      td:nth-of-type(1):before { content: "Topics"; }
      td:nth-of-type(2):before { content: "Threads"; }
      td:nth-of-type(3):before { content: "Posts"; }
    }
    &-quiz-grades {
      td:nth-of-type(1):before { content: "Name"; }
      td:nth-of-type(2):before { content: "Score"; }
      td:nth-of-type(3):before { content: "Response"; }
      td:nth-of-type(4):before { content: "Submit Time"; }
      td:nth-of-type(5):before { content: "Grade"; }
      td:nth-of-type(6):before { content: ""; }
    }
    &-student-list {
      td:nth-of-type(1):before { content: "Student Name"; }
      td:nth-of-type(2):before { content: "E-mail"; }
      td:nth-of-type(3):before { content: "Phone Number"; }
    }
    &-grade {
      td:nth-of-type(1):before { content: "Items"; }
      td:nth-of-type(2):before { content: "Grades"; }
      td:nth-of-type(3):before { content: ""; }
    }
  }
}