// typography
// ===============

.heading1 { @include type(47px 600 l.2); }
// .heading2 { @include type(47px 600 l.2); }
.heading3 { @include type(20px 700 uppercase); }
.heading4 { @include type(15px 700 uppercase); }
// .heading5 { @include type(15px 700); }
// .heading6 { @include type(47px 600 l.2); }
.heading1, .heading2, .heading3, .heading4, .heading5, .heading6 {
  color: $brand-color;
  .small { @include type(300); }
}

.p, p { @include type(15px 1.6); }
p { 
  margin-bottom: 1em; 
  &:last-child { margin-bottom: 0; }
}
.minor { color: $minor; }