// button
// ============

.button {
  @include button('0.75em 1.1em' radius);
  @include type(14px 700 1 uppercase);
  display: inline-block;
  white-space: nowrap;
  border-width: 0;
  cursor: pointer;
  &-normal { @include button(map-get($button, 'normal') 'hover'); }
  &-secondary { @include button(map-get($button, 'secondary') 'hover'); }
  &-info { @include button(map-get($button, 'info') 'hover'); }
  &-success { @include button(map-get($button, 'success') 'hover'); color: #fff; }
  &-warning { @include button(map-get($button, 'warning') 'hover'); color: #fff; }
  &-danger { @include button(map-get($button, 'danger') 'hover'); }
  &-toggle {
    @include button('0 10px' #f2f2f2 hover radius);
    cursor: pointer;
  }
  &-line {
    font-weight: normal;
    color: #fff;
    text-transform: none;
    background-color: transparent;
    border: 1px solid  #fff;
    border-radius: 0;
  }
  &-search {
    @include type('weight-normal' 'none');
    padding-right: 40px;
    background: $background-color url('../img/icon-search.png') right 50% no-repeat;
    border: 1px solid $border-color;
    cursor: default;
  }
  &-group {
    .button {
      margin-bottom: -1px;
      &:last-child { margin-bottom: 0; }
    }
  }
  > [class^='abc-'] {
    font-size: 16px;
    margin-right: 4px;
    line-height: 13px;
    vertical-align: middle;
  }
  .alone { margin-right: 0; }
}