// form
// ============

%form-base {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid $border-color;
  border-radius: $panel-radius;
}
input {
  @extend %form-base;
  background-color: #f7f8fa;
} 
textarea {
  @extend %form-base;
  line-height: 1.33;
}
form li {
  margin-bottom: em(20);
  &:last-child { margin-bottom: 0; }
}

.full { 
  width: 100%; 
  box-sizing: border-box;
}
.hidden-checkbox {
  position: absolute;
  left: -9999em;
}

.select-wrap {
  @include button($background-color radius);
  position: relative;
  display: inline-block;
  padding: 0.4em 0.6em;
  border: 1px solid $border-color;
  overflow: hidden;
  font-size: 14px;
  box-sizing: border-box;
  vertical-align: top;
  [class^='abc-'] {
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 7px;
    color: $minor;
  }
  select {
    border-width: 0;
    background-color: $background-color;
    width: 150%;
    width: calc(100% + 2em);
  }
}
.line {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $border-color;
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-width: 0;
  }
  .button { 
    margin-left: 10px;
    @include breakpoint('min' 380) {
      float: right; 
    }
  }
}
