// icon-font
@font-face {
  font-family: "abc-icons";
  src:url("#{$icon-path}abc-icons.eot");
  src:url("#{$icon-path}abc-icons.eot?#iefix") format("embedded-opentype"),
    url("#{$icon-path}abc-icons.woff") format("woff"),
    url("#{$icon-path}abc-icons.ttf") format("truetype"),
    url("#{$icon-path}abc-icons.svg#abc-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "abc-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="abc-"]:before,
[class*=" abc-"]:before {
  font-family: "abc-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.abc-home:before {
  content: "a";
}
.abc-user:before {
  content: "b";
}
.abc-email:before {
  content: "d";
}
.abc-phone:before {
  content: "e";
}
.abc-pin:before {
  content: "f";
}
.abc-angle-left:before {
  content: "c";
}
.abc-angle-double-left:before {
  content: "i";
}
.abc-angle-right:before {
  content: "j";
}
.abc-angle-double-right:before {
  content: "k";
}
.abc-nav:before {
  content: "t";
}
.abc-arrow-down:before {
  content: "u";
}
.abc-arrow-up:before {
  content: "v";
}
.abc-arrow-left:before {
  content: "w";
}
.abc-arrow-right:before {
  content: "x";
}
.abc-lock-secure:before {
  content: "y";
}
.abc-caret-down:before {
  content: "z";
}
.abc-caret-left:before {
  content: "A";
}
.abc-caret-right:before {
  content: "B";
}
.abc-caret-up:before {
  content: "C";
}
.abc-read:before {
  content: "l";
}
.abc-speaker:before {
  content: "m";
}
.abc-calendar:before {
  content: "h";
}
.abc-file-text:before {
  content: "g";
}
.abc-chat:before {
  content: "n";
}
.abc-video:before {
  content: "o";
}
.abc-folder:before {
  content: "q";
}
.abc-list-nested:before {
  content: "r";
}
.abc-delete:before {
  content: "s";
}
.abc-pencil:before {
  content: "D";
}
.abc-file-add:before {
  content: "E";
}
.abc-file:before {
  content: "F";
}
.abc-user-add:before {
  content: "G";
}
.abc-adult:before {
  content: "I";
}
.abc-graduation-cap:before {
  content: "L";
}
.abc-young:before {
  content: "K";
}
.abc-clipboard-notes:before {
  content: "H";
}
.abc-network:before {
  content: "J";
}
.abc-page-add:before {
  content: "M";
}
.abc-angle-down:before {
  content: "N";
}
.abc-angle-up:before {
  content: "O";
}
.abc-add:before {
  content: "P";
}
.abc-check:before {
  content: "Q";
}
.abc-close:before {
  content: "p";
}
