// panel
// ============

.panel {
  position: relative;
  margin-bottom: $global-gutter;
  &-head,
  &-foot {
    padding: map-get($panel-padding, 'head');
    background-color: #fff;
    border: 1px solid $border-color;
  }
  &-head {
    border-bottom: 2px solid $brand-color;
    border-top-left-radius: $panel-radius;
    border-top-right-radius: $panel-radius;
    .panel-table & {
      border-bottom: 1px solid $border-color;
    }
    > h3,
    > span,
    > a { vertical-align: middle; }
    h3 { display: inline-block; }
    [class^='abc-'] { margin-right: 5px; }
  }
  &-foot {
    border-top-width: 0;
  }
  &-pure {
    margin-bottom: $global-gutter;
    padding: map-get($panel-padding, 'head');
    background-color: #fff;
    border: 1px solid $border-color;
  }
  &-body {
    border: 1px solid $border-color;
    border-top-width: 0;
    background-color: $background-color;
    &:first-of-type {
      border-bottom-left-radius: $panel-radius;
      border-bottom-right-radius: $panel-radius;
    }
    & ~ & { 
      margin-top: 10px; 
      border-top: 1px solid $border-color;
      border-radius: $panel-radius;
    }
    .styled li {
      padding: map-get($panel-padding, 'head');
      border-bottom: 1px solid $border-color;
      &:last-child { border-bottom-width: 0; }
    }
    .wider li {
      padding-top: em(30);
      padding-bottom: em(30);
    }
    .heading4 {
      margin-bottom: em(15, 14);
      [class^='abc-'] { margin-right: 0.5em; }
    }
    table .heading4 { 
      margin-bottom: 0; 
      color: $brand-color;
    }
  }
  .inner {
    padding: map-get($panel-padding, 'body');
  }
  &-bottom {
    border-bottom-left-radius: $panel-radius;
    border-bottom-right-radius: $panel-radius;
  }
  .cell {
    &-group {
      display: table;
      width: 100%;
    }
    display: table-cell;
    vertical-align: middle;
    padding-right: 0.5em; 
    &:last-child { padding-right: 0; }
    &.right { text-align: right; }
  }
  p { color: $minor; }
  .floated {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.icons {
  margin-bottom: em(15);
  @include breakpoint('min' 640) { float: right; }
  .button, span { vertical-align: middle; }
  > [class^='abc-'] {
    @extend %global-transition;
    padding: 6px 10px;
    background-color: darken($background-color, 10%);
    border-radius: $panel-radius;
    cursor: pointer;
    &:hover { background-color: darken($background-color, 20%); }
  }
}

.file-name a {
  font-size: 13px;
  color: #2382ef;
  &:hover { text-decoration: underline; }
}