// table
// ============

.table { 
  width: 100%; 
  thead > tr {
    border-bottom: 2px solid $brand-color;
  }
  th, td {
    padding: map-get($panel-padding, 'head');
    text-align: left;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $border-color;
    &:last-of-type { border-right-width: 0; }
  }
  tr:last-of-type td { border-bottom-width: 0; }
  th { 
    @include type(17px 600 uppercase); 
    color: $brand-color;
  }
  &-striped {
    > tbody > tr:nth-of-type(odd) { background: #f6f6f6; }
  }
  &-discussion .icons {
    @include breakpoint('max' 849) {
      .button {
        margin: 10px 0;
        vertical-align: middle;
      }
    }
    @include breakpoint('min' 850) {
      float: right;
    }
  }
  &-quiz-grades {
    input { width: 3em; }
    .input { 
      &-group {
        min-width: 7em;
      }
    }
    .button { margin-bottom: 5px; }
  }
  &-mailbox {
    margin: 20px 0;
    border: 1px solid $border-color; 
    th, td {
      padding: 10px;
      font-size: 13px;
      border-right-width: 0;
      &:first-child { width: 13px; }
      &:nth-child(2) { width: 7em; }
      &:last-child { width: 10em; }
      input { margin-right: 0; }
    }
    time { font-size: 12px; }
    @include breakpoint('max' 767) {
      th, td {
        &:last-child { width: 2.5em; }
      }
      .date-y,
      .date-t { display: none; }
    }
    @include breakpoint('max' 639) {
      th, td {
        &:nth-child(2) { display: none; }
      }
    }
  }
}
