// classroom
// =============

.nav-left {
  @include breakpoint('min' 1000) {
    .sub-nav { 
      @include span(24 of 100); 
      li:first-child {
        border-top-width: 1px;
        border-top-left-radius: $panel-radius;
        border-top-right-radius: $panel-radius;
      }
      .current {
        position: relative;
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          right: -6px;
          top: 50%;
          margin-top: -6px;
          width: 0;
          height: 0;
          border-width: 6px 0 6px 6px;
          border-style: solid;
          border-color: transparent transparent transparent $brand-color;
        }
      }
    }
    .main { @include span(76 of 100 last); }
    .sub-nav__menu { display: none; }
  }
  @include breakpoint('max' 999) {
    .sub-nav {
      ul { display: none; }
      @at-root { #sub-nav-checkbox:checked ~ ul { display: block; } }
    }
  }
}
.file-list {
  @include button('15px 20px' radius);
  display: block;
  border: 1px solid #428bca;
}
.video {
  &-list {
    .toggle { cursor: pointer; }
  }
  &-wrapper {
    margin: em(20) auto em(50);
    width: 90%;
    display: none;
    a { text-align: center; }
    .show & { display: block; }
  }
}
.flex-video { @include flex-video((9/16)); }
.quiz-response-list {
  li {
    margin: em(20) 0;
    padding-top: em(20);
    border-top: 1px solid $border-color;
  }
  p {
    font-weight: bold;
    color: $brand-color;
  }
  label {
    display: block;
    margin: em(10) 0;
  }
  .abc-check {
    font-size: 15px;
    vertical-align: middle;
  }
  .tips {
    @include button(14px '8px 12px' radius);
    display: block;
    margin: 5px 0;
    color: #fff;
    @each $tip in 'success', 'danger' {
      &-#{$tip} {
        background-color: lighten(map-get($button, $tip), 10%);
      }
    }
  }
  .input-group { margin-bottom: 6px; }
}