// classroom
// =============

.nav-left {
  @include breakpoint('min' 1000) {
    .sub-nav { 
      @include span(24 of 100); 
      li:first-child {
        border-top-width: 1px;
        border-top-left-radius: $panel-radius;
        border-top-right-radius: $panel-radius;
      }
      .current {
        position: relative;
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          right: -6px;
          top: 50%;
          margin-top: -6px;
          width: 0;
          height: 0;
          border-width: 6px 0 6px 6px;
          border-style: solid;
          border-color: transparent transparent transparent $brand-color;
        }
      }
    }
    .main { @include span(76 of 100 last); }
    .sub-nav__menu { display: none; }
  }
  @include breakpoint('max' 999) {
    .sub-nav {
      ul { display: none; }
      @at-root { #sub-nav-checkbox:checked ~ ul { display: block; } }
    }
  }
}