// database
// =============

.with-main-nav {
  .head {
    margin-bottom: 0;
    border-bottom-width: 0;
  }
}
.search-students {
  > .heading4, input { vertical-align: middle; }
  .heading4 { 
    display: inline-block; 
    margin-right: .6em;
  }
}
@include breakpoint('min' 930) {
  .search-students {
    float: left;
  }
  .actions {
    float: right;
  }
  .database {
    .panel-foot [data-aside] { float: right; }
  }
}
@include breakpoint('max' 929) {
  .search-students {
    margin-bottom: em(15);
    > .heading4 {
      display: block;
      margin-bottom: 5px;
    }
    > [type="search"] { width: calc(100% - 60px - 59px); }
    .csscalc & > [type="submit"] { float: right; }
  }
  .database {
    .panel-foot [data-aside] { margin-bottom: em(20, 14); }
  }
}
@include breakpoint('max' 440) {
  .actions {
    .button {
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      &:first-of-type {
        margin-bottom: em(10, 14);
      }
    }
  }
}
