// header
// ==========

[data-unread] {
  position: relative;
  &:after {
    content: attr(data-unread);
    position: absolute;
    left: 60%;
    bottom: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    font-family: $opensans;
    color: #fff;
    background-color: map-get($button, 'danger');
    border-radius: 50%;
  }
}

.sub-nav-mailbox {
  > label {
    display: block;
    margin-bottom: 10px;
    > span {
      display: inline-block;
      margin-left: 1em;
    }
  }
  h3 {
    @include type(22px weight-normal);
    display: inline-block;
  }
  ul {
    border: 1px solid $border-color; 
    background-color: #fff;
  }
  a {
    display: block;
    border-bottom: 1px solid $border-color; 
    transition: color 0.3s;
    &:hover { color: map-get($button, 'danger'); }
  }
  li:last-child > a{ border-bottom-width: 0; }
  .title,
  a {
    @include type(14px);
    padding: 0.5em 0.8em;
  }
  .title { color: #bbb; }
  .current {
    font-weight: bold;
    a { color: map-get($button, 'danger'); }
  }
}
.full-email {
  margin: 2% 4%;
  header { margin-bottom: 20px; }
  p {
    font-size: 13px;
    color: #212121;
    max-width: 46em;
    margin-bottom: 1.5em;
  }
  [type="submit"] { border-width: 0; }
}
.email-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $border-color;
  @include breakpoint('max' 400) { font-size: 20px; }
}
.fromline {
  font-size: 11px;
  color: #888;
  a:hover { text-decoration: underline; }
  .from {
    font-size: 14px;
    font-weight: bold;
  }
  .to { color: #888; }
}

@include breakpoint('max' 999) {
  .sub-nav-mailbox {
    @include accordion('div' 200px 0.3s);
    text-align: center;
    margin-bottom: 20px;
  }
}
@include breakpoint('max' 479) {
  .email-buttons {
    margin-bottom: 10px;
  }
}
@include breakpoint('min' 480) {
  .email-buttons {
    float: right;
  }
}
@include breakpoint('min' 1000) {
  .sub-nav-mailbox { 
    @include span(20 of 100); 
    > label {
      cursor: default;
      > span { display: none; }
    }
  }
  .main-mailbox { @include span(80 of 100 last); }
}