// registration
// =============

.tips-registration {
  @extend global-transition;
  @include button(15px '14px 20px' lighten(map-get($alerts, 'success'), 40%) radius);
  position: fixed;
  bottom: 20px;
  right: -110%;
  width: 80%;
  max-width: 30em;
  color: darken(map-get($alerts, 'success'), 14%);
  box-sizing: border-box;
  h3 {
    margin-bottom: 10px;
  }
  &.show {
    right: 0;
  }
}